<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        <%= resu["code"] %> | <%= resu["name"] %>
    </title>
    <style>
        body {
            font-family: open sans, sans-serif;
            color: #3b4148;
            font-size: 14px;
            font-size: .875rem;
            font-weight: 400;
            height: 100%;
            line-height: 1.5;
            margin: 0;
            min-height: 100vh
        }

        table {
            text-align: center;
            vertical-align: middle;
            padding: 5px;
            margin-bottom: 2%;
        }

        caption {
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            color: #333;
        }

        th,
        td {
            padding: 5px;
        }

        .btn {
            background-color: #ee76a4;
            border: none;
            color: white;
            padding: 12px 30px;
            cursor: pointer;
            font-size: 20px;
            margin-bottom: 2%;
        }

        .btn:hover {
            background-color: #bb5b80
        }

        @media screen and (max-width: 600px) {
            #pdf {
                visibility: hidden;
            }
        }
    </style>
</head>

<body>
    <center>
        <h1 style="color: #ee76a4"><span>
                <%= resu["code"] %>
            </span> <span>| <%= resu.name %></span></h1>
        <h3><span>
                <%= resu["dept"] %>
            </span><span>| <%= resu["type"] %> |</span><span>
                <%= resu["credits"] %>
            </span></h3>

        <% if (resu["timetable"].length> 0) { %>
            <table>
                <caption>Time Table</caption>
                <tr>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Venue</th>
                </tr>

                <% resu["timetable"].forEach( function(arr) { %>
                    <tr>
                        <td>
                            <%= arr[0] %>
                        </td>
                        <td>
                            <%= arr[1] %>
                        </td>
                        <td>
                            <%= arr[2] %>
                        </td>
                    </tr>
                    <% }) %>
            </table>

            <%} else { %>
                <caption>Time Table</caption>
                <h3>N/A</h3>
                <% } %>
                    <div>

                        <% if (resu.lplink !='NA' ) { %>

                            <span><a href="<%= resu.lplink %>">
                                    <button class="btn"> <i class="fa fa-download" aria-hidden="true"></i> Download
                                        Lecture Plan
                                    </button>
                                </a></span>
                            <% } %>
                                <span><a href="/">
                                        <button class="btn"> <i class="fa fa-home" aria-hidden="true"></i> Back to Home
                                            Page
                                        </button>
                                    </a></span>

                    </div>
                    <% if (resu.lplink !='NA' ) { %>
                        <object id="pdf" data="<%= resu.lplink %>" width="800" height="750"> </object>
                        <% } %>
    </center>
</body>

</html>